<div class="counter-container">
<span>You are visitor number:</span>
<div class="counter">
{% for digit in counter %}
    <span class="digit">{{ digit }}</span>
{% endfor %}
</div>
<span class="attribution"><a href="https://goatcounter.com">goatcounter</a></span>
</div>