{% extends "layout.njk" %}
{% block content %}
  {{ content | safe }}
  <ol id="mentions-list" class="webmentions">
    No signatures yet!
  </ol>
  <script type="text/javascript" src="/mentions.js"></script>
{% endblock %}