{% extends "layout-shell.njk" %}
{% block content %}
      <main class="flow">
{{content | safe }}
{% if isHome %}
        {% include "counter.njk" %}
        {% endif %}
      </main>
{% endblock %}
