@forward 'reset';
@forward 'variables';
@forward 'text-effects';

.page-wrapper {
  min-height: 100vh;

  & > * + * {
    margin-top: var(--space-s-m);
  }
}

body {
  font-size: var(--step--1);
  background: url('/tile-bg.jpg');
  padding: var(--space-s-m);
}

header {
  text-align: center;
  h1 {
    font-size: var(--step-5);
    font-family: Comic Sans MS, sans-serif;
    color: navy;
  }
}

aside {
  font-size: var(--step-0);
  .nav-list {
    display: flex;
    justify-content: center;
    gap: var(--space-xs);
  }
  a {
    font-weight: bold;
    background: blue;
    padding: var(--space-2xs);
    color: white;
  }
}

main {
  margin-inline: auto;
  overflow: hidden;
  max-width: 80ch;
  padding: var(--space-s);
  background: white;
}

.flow > * + * {
  margin-top: var(--space-xs-s);
}
