@forward 'reset';
@forward 'variables';
@forward 'text-effects';

.page-wrapper {
  min-height: 100vh;

  & > * + * {
    margin-top: var(--space-s-m);
  }
}

body {
  font-size: var(--step--1);
  background: url('/tile-bg.jpg');
  padding: var(--space-s-m);
}

header {
  text-align: center;
  h1 {
    font-size: 5rem;
    font-family: Impact, sans-serif;
    color: #24c0fd;
    -webkit-text-stroke: 0.01em #0000aa;
    filter: progid:DXImageTransform.Microsoft.Glow(Color=#0000aa,Strength=1);
    text-shadow: 0.13em -0.13em 0px #0000aa;
    letter-spacing: -0.05em;
  }
}

aside {
  font-size: var(--step-0);
  .nav-list {
    display: flex;
    justify-content: center;
    gap: var(--space-xs);
  }
  a {
    font-weight: bold;
    background: blue;
    padding: var(--space-2xs);
    color: white;
  }
}

main {
  margin-inline: auto;
  overflow: hidden;
  max-width: 80ch;
  padding: var(--space-s);
  background: white;
}

.flow > * + * {
  margin-top: var(--space-xs-s);
}
