@forward "reset";
@forward "variables";
@forward "text-effects";

.page-wrapper {
  min-height: 100vh;
  padding: var(--space-xs);
  & > * + * {
    margin-top: var(--space-s-m);
  }
}

body {
  font-size: var(--step--1);
  background: url("/tile-bg.webp");
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  padding-block-start: var(--space-s-m);
  text-align: center;
  font-size: var(--step-2);
}

a {
  font-weight: bold;
  color: navy;
  &:hover {
    color: magenta;
  }
}

aside {
  font-size: var(--step-0);
  .nav-list {
    display: flex;
    justify-content: center;
    gap: var(--space-xs);
  }
  a {
    font-weight: bold;
    background: blue;
    padding: var(--space-2xs);
    color: white;
  }
}

main {
  margin-inline: auto;
  overflow: hidden;
  max-width: 80ch;
  padding: var(--space-s);
  background: rgba(255, 255, 255, 0.7);
}

.flow > * + * {
  margin-top: var(--space-xs-s);
}

.webring-container {
  text-align: center;
  max-width: min(40ch, 100%);
  margin-inline: auto;
  background-color: aliceblue;
  padding: 1rem;
}

picture {
  display: block;
  img {
    margin-inline: auto;
  }
}

audio {
  position: absolute;
  top: 0;
  right: 0;
}

.webmentions {
  list-style-type: none;
  margin-inline: 0;

  .webmention {
    &-meta {
      display: flex;
      align-items: center;
      * + * {
        margin-inline-start: var(--space-xs);
      }
    }
    &-author {
      display: flex;
      align-items: center;
      img {
        border-radius: 50%;
        height: var(--space-m);
        width: var(--space-m);
        min-width: var(--space-m);
      }
    }

    &-pubdate {
      font-style: italic;
    }
    .p-name {
      font-weight: bold;
    }
  }
}
